body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b4/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA's_Solar_Dynamics_Observatory_-_20100819.jpg");
    background-repeat: repeat-x;
    }
title 1 {
    text-style: bold;
    text-color: white;
}
title 2 {
    text-style: bold;
    text-color: white;
}
#container {
    width: auto;
    height: auto;
    background-color: #770000;
}
#Header{
    float: 100%;
    width: 800px;
    height: 100px;
}
#Navigation {
    float: left;
    width: 100px;
    height: 600px;
}
#Body{
    float: left;
    width: 700px;
    height: 600px;
}
#Footer {
    float: down;
    width: 800px;
    height: 50px;
}
h3.Pepe {
    text-align: center;
    color: #ffffff;
}
p.Dankmeme {
    text-align: center;
    color: #ffffff;
}
a:link {
    color: #FF0000;
}
a:visited {
    color: #00FF00;
}
a:hover {
    color: #FF00FF;
}
a:active {
    color: #0000FF;
}
