body {
    background-color: #000000;
    }
title 1 {
    text-style: bold;
    text-color: white;
}
title 2 {
    text-style: bold;
    text-color: white;
}
#1 {
    text-align: center;
    color: #ffffff;
}
#2 {
    text-align: center;
    color: #ffffff;
}
