body {
    background-color: blue
    }
title 1 {
    text-style: bold
     {
title 2 {
    text0style: bold
    }
#img {
    height: 500px;
    width: 500px;
}
#1 {
    text-align: center;
}
#2 {
    text-align: center;
}
