body {
    background-image: url("http://www.truthdig.com/images/eartothegrounduploads/9103296900_0d383feabf_z.jpg");
    background-repeat: no-repeat;
    }
title 1 {
    text-style: bold;
    text-color: white;
}
title 2 {
    text-style: bold;
    text-color: white;
}
h3.Pepe {
    text-align: center;
    color: #ffffff;
}
p.Dankmeme {
    text-align: center;
    color: #ffffff;
}
