body {
    background-color: #000000;
    }
title 1 {
    text-style: bold;
    text-color: white;
}
title 2 {
    text-style: bold;
    text-color: white;
    }
#img {
    display: block;
    height: 500px;
    width: auto;
}
#1 {
    text-align: center;
}
#2 {
    text-align: center;
}
